.title {
  color: #000000;
  font-family: 'Open Sans';
  font-size: 70px;
  font-weight: 800;
  line-height: 81px;

  @media screen and (max-width: 576px) {
    font-size: 45px;
    line-height: 55px;
  }
}

.subtitle {
  color: #000000;
  font-family: 'Open Sans';
  font-size: 26px;
  font-weight: bold;
  line-height: 36px;

  @media screen and (max-width: 576px) {
    font-size: 26px;
    line-height: 33px;
  }
}

.title-secondary {
  color: #000000;
  font-family: 'Open Sans';
  font-size: 45px;
  font-weight: 800;
  line-height: 57px;

  &.white {
    color: #ffffff;
    text-align: center;
  }

  @media screen and (max-width: 576px) {
    font-size: 38px;
    line-height: 45px;
  }
}

p,
li {
  color: #000000;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 30px;
}

.copyright {
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 12px;
  line-height: 31px;
}
